### Создание списка слов на основе спарсенных данных

In [1]:
# импорт библиотек
import json
import re
import os
import pandas as pd
import numpy as np

In [2]:
# получим название всех .json файлов с нужными данными в виде двух списков: с указанием расширения и без
datasets = os.listdir('./Data')

categories = []
for x in datasets:
    categories.append(x.replace('.json', ''))


print('Datasets: ', ", ".join(datasets))
print()
print('Categories: ', ", ".join(categories))

Datasets:  bread.json, cereals.json, dairy.json, drinks.json, fish.json, frozen.json, groats.json, health.json, jam.json, meat.json, nuts.json, preserves.json, ready_meals.json, sauces.json, sausage.json, seafood.json, semifinished.json, snaks.json, sweets.json, tea_coffee.json, veg_fruits.json

Categories:  bread, cereals, dairy, drinks, fish, frozen, groats, health, jam, meat, nuts, preserves, ready_meals, sauces, sausage, seafood, semifinished, snaks, sweets, tea_coffee, veg_fruits

In [3]:
# переводим содержимое всех .json файлов в тип данных str
for id, name in enumerate(datasets):
    with open('./Data/' + name, 'r') as my_file:
        file = my_file.read()
    globals()['%s' % categories[id]] = str(json.dumps(file, ensure_ascii=False))

In [4]:
# удаляем знаки препинания
for_replace = {'\\':'', '"':'', '(':'', ')':'', '[':'', ']':'', '.':'', ',':'', ';':'', '«':'', '»':'', ':':''}

for key in for_replace.keys():
    # alcohol = alcohol.replace(key, str(for_replace[key]))
    bread = bread.replace(key, str(for_replace[key]))
    cereals = cereals.replace(key, str(for_replace[key]))
    dairy = dairy.replace(key, str(for_replace[key]))
    drinks = drinks.replace(key, str(for_replace[key]))    
    fish = fish.replace(key, str(for_replace[key]))
    frozen = frozen.replace(key, str(for_replace[key]))
    groats = groats.replace(key, str(for_replace[key]))
    health = health.replace(key, str(for_replace[key]))
    jam = jam.replace(key, str(for_replace[key]))
    meat = meat.replace(key, str(for_replace[key]))    
    nuts = nuts.replace(key, str(for_replace[key]))
    preserves = preserves.replace(key, str(for_replace[key]))
    ready_meals = ready_meals.replace(key, str(for_replace[key]))
    sauces = sauces.replace(key, str(for_replace[key]))
    sausage = sausage.replace(key, str(for_replace[key]))
    seafood = seafood.replace(key, str(for_replace[key]))    
    semifinished = semifinished.replace(key, str(for_replace[key]))
    snaks = snaks.replace(key, str(for_replace[key]))
    sweets = sweets.replace(key, str(for_replace[key]))
    tea_coffee = tea_coffee.replace(key, str(for_replace[key]))
    veg_fruits = veg_fruits.replace(key, str(for_replace[key]))

In [5]:
print('Categories: ', ", ".join(categories))

Categories:  bread, cereals, dairy, drinks, fish, frozen, groats, health, jam, meat, nuts, preserves, ready_meals, sauces, sausage, seafood, semifinished, snaks, sweets, tea_coffee, veg_fruits

In [6]:
# разделяем текст каждой строки-датасета по пробелам и объединяем все полученные списки
# alcohol_split = alcohol.split(" ")
bread_split = bread.split(" ")
cereals_split = cereals.split(" ")
dairy_split = dairy.split(" ")
drinks_split = drinks.split(" ")
fish_split = fish.split(" ")
frozen_split = frozen.split(" ")
groats_split = groats.split(" ")
health_split = health.split(" ")
jam_split = jam.split(" ")
meat_split = meat.split(" ")
nuts_split = nuts.split(" ")
preserves_split = preserves.split(" ")
ready_meals_split = ready_meals.split(" ")
sauces_split = sauces.split(" ")
sausage_split = sausage.split(" ")
seafood_split = seafood.split(" ")
semifinished_split = semifinished.split(" ")
snaks_split = snaks.split(" ")
sweets_split = sweets.split(" ")
tea_coffee_split = tea_coffee.split(" ")
veg_fruits_split = veg_fruits.split(" ")

In [7]:
# объединяем все полученные списки в один
total = [*bread_split, *cereals_split, *dairy_split, *drinks_split, *fish_split, *frozen_split, *groats_split, 
        *health_split, *jam_split, *meat_split, *nuts_split, *preserves_split, *ready_meals_split, *sauces_split, 
        *sausage_split, *seafood_split, *semifinished_split, *snaks_split, *sweets_split, *tea_coffee_split, *veg_fruits_split]

# total = [*alcohol_split, *bread_split, *cereals_split, *dairy_split, *drinks_split, *fish_split, *frozen_split, *groats_split, 
#         *health_split, *jam_split, *meat_split, *nuts_split, *preserves_split, *ready_meals_split, *sauces_split, 
#         *sausage_split, *seafood_split, *semifinished_split, *snaks_split, *sweets_split, *tea_coffee_split, *veg_fruits_split]

len(total)

405057

##### Создание словаря для генерации синтетического датасета

In [8]:
# оставляем только русский текст, цифры и дефис
r = re.compile("^[а-яА-Я0-9/-]+$")
russian_total = [w for w in filter(r.match, total)]

In [9]:
len(russian_total)

382678

In [10]:
df = pd.DataFrame(data=russian_total, columns=['ingredient'])
df

               ingredient
0            аскорбиновая
1                 кислота
2                    Е300
3                   агент
4       влагоудерживающий
...                   ...
382673          регулятор
382674        кислотности
382675           лимонная
382676            кислота
382677            сахарин

[382678 rows x 1 columns]

In [11]:
df_count = pd.DataFrame({'count' : df.groupby( ["ingredient"] ).size()}).reset_index().sort_values(by='count', ascending=False)
df_count_1 = df_count[df_count['count'] == 1]['ingredient']
df_counts = df_count[df_count['count'] != 1]['ingredient']

In [12]:
# сохраним списки слов в txt формате, для того, чтобы исправить опечатки в словах
# my_file = open("df_count_1.txt", "w+")
# for item in df_count_1:
#     my_file.write("%s\n" % item)

# my_file.close()

In [13]:
# my_file = open("df_count.txt", "w+")
# for item in df_count:
#     my_file.write("%s\n" % item)

# my_file.close()

In [14]:
f = pd.read_csv('df_count_1_new.txt', names=['ingredient'])
df_1_new = pd.DataFrame({'count' : f.groupby( ["ingredient"] ).size()}).reset_index().sort_values(by='count', ascending=False)

In [15]:
f = pd.read_csv('df_counts_new.txt', names=['ingredient'])
df_new = pd.DataFrame({'count' : f.groupby( ["ingredient"] ).size()}).reset_index().sort_values(by='count', ascending=False)

In [16]:
# result = pd.concat([df_1_new, df_new, df_count], ignore_index=True, sort=False)
# result

In [17]:
df_new

           ingredient  count
2631             Срок     38
2268          Пищевая     34
7602            сахар     28
3781             вода     24
2319          Продукт     22
...               ...    ...
3162         альфонсо      1
3160    альфа-амилазы      1
3158     альфа-амилаз      1
3157  альфа-Токоферол      1
9305          ячневая      1

[9306 rows x 2 columns]

In [18]:
sum(df_new['count'])

10958

In [19]:
sum(df_count['count'])

382678

In [20]:
for index, ingr in enumerate(df_new['ingredient']):
    list_ingr = list(df_count['ingredient'])

    if ingr in list_ingr:
        index_df_count = list_ingr.index(ingr)
        df_new.iloc[index, 1] = df_new.iloc[index, 1] - 1 + df_count.iloc[index_df_count, 1]
    # else:
    #     df_new.iloc[index, 1] = df_new.iloc[index, 1]

In [21]:
df_new['ingredient'].value_counts()

Срок        1
404ккал/    1
5-          1
475         1
472с        1
           ..
тальк       1
такой       1
также       1
так         1
ячневая     1
Name: ingredient, Length: 9306, dtype: int64

In [22]:
sum(df_new['count'])

369116

In [39]:
df_1_new[df_1_new['ingredient'] == 'вкусоароматическая']

              ingredient  count
4350  вкусоароматическая      5

In [42]:
df_new[df_new['ingredient'] == 'г.']

      ingredient  count
12304         г.      9

In [25]:
for index, ingr in enumerate(df_1_new['ingredient']):
    list_ingr = list(df_new['ingredient'])

    if ingr in list_ingr:
        index_df_count = list_ingr.index(ingr)
        df_new.iloc[index_df_count, 1] += df_1_new.iloc[index, 1]
    else:
        df_new.loc[len(df_new)] = df_1_new.loc[index]

In [43]:
df_new['ingredient'].value_counts()

и                    1
время                1
вяленого             1
вытяжки              1
высушенных           1
                    ..
свежезамороженные    1
нерки                1
свежезамороженный    1
премиум              1
ямай                 1
Name: ingredient, Length: 12919, dtype: int64

In [30]:
df_new = df_new.drop_duplicates(['ingredient'])

In [35]:
df_new = df_new.sort_values(by='count', ascending=False)

In [36]:
# dict_for_gen = df_new['ingredient']
# my_file = open("dict_for_gen.txt", "w+")
# for item in dict_for_gen:
#     my_file.write("%s\n" % item)

# my_file.close()

In [37]:
sum(df_new['count'])

382268

In [376]:
sum(df_1_new['count'])

14269

In [377]:
14269 + 369116

383385

In [392]:
sum(df_new['count'])

382268

In [393]:
df_new.sort_values(by='count', ascending=False)

         ingredient  count
4720              и   7280
3279   ароматизатор   5080
6263         натрия   4412
5103        кислота   3735
0                 -   3616
...             ...    ...
12997      льняного      1
12998       льняной      1
12999       льняные      1
13000         любой      1
13938          ямай      1

[12919 rows x 2 columns]

In [ ]:
# my_file = open("russian_total.txt", "w+")
# for item in russian_total:
#     my_file.write("%s\n" % item)

# my_file.close()

##### Создание словаря для распознавания текста

In [ ]:
# # оставляем только русский текст в нижнем регистре
# r = re.compile("^[а-яА-Я]+$")
# russian_low = [w.lower() for w in filter(r.match, total)]

In [ ]:
# удаляем дубликаты
result = []
for x in russian:
    if x.lower() not in result:
        result.append(x.lower())
len(result)

13708

In [ ]:
# my_file = open("result_total.txt", "w+")
# for item in result:
#     my_file.write("%s\n" % item)

# my_file.close()

In [ ]:
# #Макрос для MS Word

# Sub Procedure_3()
 
#     Dim i As Long
    
#     For i = ActiveDocument.SpellingErrors.Count To 1 Step -1
#         ActiveDocument.SpellingErrors(i).Delete
#     Next i
    
# End Sub

In [ ]:
# # переводим содержимое всех .json файлов в тип данных str
# with open("/home/rushana/Final_project/perekrestok/dairy.json", "r") as my_file:
#     capitals = my_file.read()
# dairy = str(json.dumps(capitals, ensure_ascii=False))


# with open("/home/rushana/Final_project/perekrestok/groats.json", "r") as my_file:
#     capitals = my_file.read()
# groats = str(json.dumps(capitals, ensure_ascii=False))


# with open("/home/rushana/Final_project/perekrestok/ready_meals.json", "r") as my_file:
#     capitals = my_file.read()
# ready_meals = str(json.dumps(capitals, ensure_ascii=False))


# with open("/home/rushana/Final_project/perekrestok/snaks.json", "r") as my_file:
#     capitals = my_file.read()
# snaks = str(json.dumps(capitals, ensure_ascii=False))


# with open("/home/rushana/Final_project/perekrestok/veg_fruits.json", "r") as my_file:
#     capitals = my_file.read()
# veg_fruits = str(json.dumps(capitals, ensure_ascii=False))

# s = [dairy, groats, ready_meals, snaks, veg_fruits]

In [ ]:
# # удаляем знаки препинания
# for_replace = {'\\':'', '"':'', '(':'', ')':'', '[':'', ']':'', '.':'', ',':'', ';':'', '«':'', '»':'', ':':''}
# for key in for_replace.keys():
#     dairy = dairy.replace(key, str(for_replace[key]))
#     groats = groats.replace(key, str(for_replace[key]))
#     ready_meals = ready_meals.replace(key, str(for_replace[key]))
#     snaks = snaks.replace(key, str(for_replace[key]))
#     veg_fruits = veg_fruits.replace(key, str(for_replace[key]))

In [ ]:
# # разделяем текст каждой строки-датасета по пробелам и объединяем все полученные списки
# dairy_split = dairy.split(" ")
# groats_split = groats.split(" ")
# ready_meals_split = ready_meals.split(" ")
# snaks_split = snaks.split(" ")
# veg_fruits_split = veg_fruits.split(" ")

# total = [dairy_split, groats_split, ready_meals_split, snaks_split, veg_fruits_split]
# len(total)

111000

In [ ]:
# # оставляем только русский текст в нижнем регистре
# r = re.compile("^[а-яА-Я]+$")
# russian = [w.lower() for w in filter(r.match, total)]

In [ ]:
# # удаляем дубликаты
# result = []
# for x in russian:
#     if x.lower() not in result:
#         result.append(x.lower())
# len(result)

6186

In [ ]:
# my_file = open("result.txt", "w+")
# for item in result:
#     my_file.write("%s\n" % item)

# my_file.close()